@media(max-width: 1440px){
    .hide-desktop-sm{
        display: none;
    }
}

@media(max-width: 1200px){
    .hide-laptop-sm{
        display: none;
    }
}

@media(max-width: 992px){
    .hide-tablet-lg{
        display: none;
    }
}

@media(max-width: 768px){
    .hide-tablet{
        display: none;
    }
}

@media(max-width: 576px){
    .hide-mobile{
        display: none;
    }
}

@media(max-width: 420px){
    .hide-mobile-xs{
        display: none;
    }
}