{% extends 'admin.html.twig' %}


{% block body %}

    <h1>Administrateurs</h1>

    <a href="{{ path('user_create') }}" class="btn btn-success mt-3">Ajouter</a>

    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Date de création</th>
                <th>Role(s)</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

{% endblock %}