{% extends 'admin.html.twig' %}


{% block body %}

    <h1>Agents</h1>

    <a href="{{ path('agent_create') }}" class="btn btn-success mt-3">Ajouter</a>

    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Id Code</th>
                <th>Nationalité</th>
                <th>Spécialité</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


{% endblock %}