{% extends 'admin.html.twig' %}


{% block body %}

    <h1>Pays</h1>

    <a href="{{ path('country_create') }}" class="btn btn-info mt-3">Ajouter</a>

    {% include "flashMessages.html.twig" %}

    <div class="row">

        <div class="col col-sm-6">

            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Pays</th>
                        <th>Nationalité</th>
                    </tr>
                </thead>
                <tbody>
                    {% for country in countries %}
                        <tr>
                            <td>{{ country.id }}</td>
                            <td>{{ country.name }}</td>
                            <td>{{ country.nationality }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}