{% extends 'admin.html.twig' %}


{% block body %}

    <h1>Planques</h1>

    <a href="" class="btn btn-success mt-3">Ajouter</a>

    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Pays</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

        <div class="row mt-5">
    
        <div class="col col-sm-6">
            <h2>Types de planque</h2>
            
            <a href="" class="btn btn-success mt-3">Ajouter</a>

            <table class="table table-hover mt-3">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    
    </div>



{% endblock %}