{% extends 'admin.html.twig' %}


{% block body %}

    <h1>{{ edit ? 'Modifier' : 'Ajouter' }} un agent</h1>

    <div class="row">

        <div class="col col-md-6">
            {{form_start(form)}}
                {{ form_widget(form) }}
                <input type="submit" class="btn btn-success w-25" value="Enregistrer">
            {{form_end(form)}}
        </div>
    
    </div>


{% endblock %}
