#delete-form{

    button{
        padding: 0;
        font-size: 1.2rem;
    }

}

#missions_Contact,
#missions_Target,
#missions_agent,
#missions_Hideout{

    option{
        font-weight: 500;
    }

    option:disabled{
        color: $gray-500;
        font-weight: lighter;
    }

    input, select {
        background-color: $gray-800;
    }

}

