#delete-form{

    button{
        padding: 0;
        font-size: 1.2rem;
    }

}

#missions_Contact,
#missions_Target,
#missions_agent,
#missions_Hideout{

    option{
        font-weight: 500;
    }

    option:disabled{
        color: $gray-500;
        font-weight: lighter;
    }

    input, select {
        background-color: $gray-800;
    }
    
}

textarea{
    height: 200px;
}

small{
    text-align: right;
}

label, legend{
    color: $green;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: bolder;
}
